In [51]:
#imports
import pandas as pd
import re

In [ ]:

url = 'https://en.wikipedia.org/wiki/List_of_modern_equipment_of_the_Bulgarian_land_forces'
tables = pd.read_html(url, attrs={'class': 'wikitable'})


type( tables)
print(tables)
Table_class='wikitable'

In [53]:
def weapons(url, name, indices):
    tables = pd.read_html(url, attrs={'class': name})
    df = pd.concat([tables[i] for i in indices])
    df.columns = df.columns.get_level_values(0)
    df.fillna("", inplace=True)
   
    return df




def extract_text(text):
    match = re.search('<span.*>(.*?)</span>', text)
    result = match.group(1)
    return result

In [54]:
#put desired COlUMN NAMES

desired_columns = ["Name", 'Origin', 'Type', 'Notes','Category']

In [ ]:
#In Indices put the number of tables you want starting from 0
#i ONLY WANT WEAPONS TABLE THAT'S WHY I AM ADDING 0-9 THERE ARE TOTAL 11 TABLES

indices = [0,1,2,3,4,5,6,7,8,9]
da = weapons(url, Table_class, indices)
da.head()

In [56]:
#Put the html of heading in the text to add the column of catagory


text = '<span class="mw-headline" id="Small_arms">Small arms</span>' #input("Enter the line of code: ") 
result = extract_text(text)
da["Category"] = result

In [ ]:
#RENAMING THE COLUMN SO IT IS EASIER TO MERGE ALL THE COLUMNS


da = da.rename(columns={'Model':'Name'})
da.head()

In [ ]:
#FILTERING THE COLUMNS TO TAKE ONLY DESIRED COLUMNS
da = da.loc[:, desired_columns]
da.head()

In [ ]:
# indices = [10]
# dh = get_bulgarian_weapons(url, Table_class, indices)
# dh.head()

In [30]:
# rows_to_drop = [0, 1]
# dh.drop(rows_to_drop, axis=0, inplace=True)

In [ ]:
# dh = dh.rename(columns={0:'Name',1: 'Origin' ,2: 'Type',5: 'Notes'})


# dh.head(60)

In [34]:
# text2 = '<span> "mw-headline" id="Armoured_and_utility_vehicles">Armoured and utility vehicles</span>'#input("Enter the line of code: ")
# result = extract_text(text2)
# dh["Category"] = result

In [ ]:

# dh = dh.loc[:, desired_columns]
# dh.head()

In [36]:
# indices = [11]
# dz = get_bulgarian_weapons(url, Table_class, indices)

In [37]:
# text3 = '<span class="mw-headline" id="Artillery_and_air_defense">Artillery and air defense</span>'#input("Enter the line of code: ")
# result = extract_text(text2)
# dz["Category"] = result

In [ ]:
# dz = dz.loc[:, desired_columns]
# dz.head()

In [ ]:
# merging the tables
df_final = pd.concat([da, dh, dz])

df_final.head(150)

In [ ]:
df_final = df_final.drop(5, axis=1)
df_final.head(150)